openapi: 3.0.0
info:
  title: Pedido Credito API
  description: Uma API para gerenciar pedidos de crédito
  version: 1.0.0
servers:
  - url: http://exemple.com:443/pedidos
    description: Servidor de produção
paths:
  /:
    post:
      summary: Cria um novo pedido de crédito com o produto informado
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PedidoCreditoDTO'
      responses:
        '201':
          description: Pedido criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PedidoCreditoDTO'
        '400':
          description: Pedido inválido
        '500':
          description: Erro interno do servidor
      # Propriedades adicionais para a integração personalizada HTTP
      x-amazon-apigateway-integration:
        type: http_proxy # Tipo de integração
        httpMethod: POST # Método HTTP do endpoint
        uri: http://exemple.com:443/pedidos # Endpoint HTTP
        connectionType: VPC_LINK # Tipo de conexão
        connectionId: abcdefgh # ID do link VPC
        passthroughBehavior: when_no_match # Comportamento de passagem dos dados
        requestParameters: # Mapeamento dos parâmetros de solicitação
          integration.request.body: method.request.body
        responseParameters: # Mapeamento dos parâmetros de resposta
          method.response.header.Content-Type: integration.response.header.Content-Type
      x-amazon-apigateway-request-validator: all # Validador de solicitação
    get:
      summary: Faz uma consulta avançada nos pedidos usando vários critérios de filtragem e ordenação
      parameters:
        - name: codigoCliente
          in: query
          schema:
            type: string
          description: O código do cliente
        - name: produto
          in: query
          schema:
            type: string
          description: O nome do produto
        - name: valorMinimo
          in: query
          schema:
            type: number
          description: O valor mínimo do pedido
        - name: valorMaximo
          in: query
          schema:
            type: number
          description: O valor máximo do pedido
        - name: dataInicio
          in: query
          schema:
            type: string
            format: date
          description: A data de início do período de consulta
        - name: dataFim
          in: query
          schema:
            type: string
            format: date
          description: A data de fim do período de consulta
        - name: status
          in: query
          schema:
            type: string
          description: O status do pedido
        - name: sortBy
          in: query
          schema:
            type: string
            default: codigo_pedido_credito
          description: O campo pelo qual ordenar os pedidos
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
          description: O número de pedidos por página
        - name: pageNumber
          in: query
          schema:
            type: integer
            default: 0
          description: O número da página atual
      responses:
        '200':
          description: Uma lista de pedidos que satisfazem os critérios de consulta
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PedidoCreditoListDTO'
        '500':
          description: Erro interno do servidor
      # Propriedades adicionais para a integração personalizada HTTP
      x-amazon-apigateway-integration:
        type: http_proxy # Tipo de integração
        httpMethod: GET # Método HTTP do endpoint
        uri: http://exemple.com:443/pedidos # Endpoint HTTP
        connectionType: VPC_LINK # Tipo de conexão
        connectionId: abcdefgh # ID do link VPC
        passthroughBehavior: when_no_match # Comportamento de passagem dos dados
        requestParameters: # Mapeamento dos parâmetros de solicitação
          integration.request.querystring.codigoCliente: method.request.querystring.codigoCliente
          integration.request.querystring.produto: method.request.querystring.produto
          integration.request.querystring.valorMinimo: method.request.querystring.valorMinimo
          integration.request.querystring.valorMaximo: method.request.querystring.valorMaximo
          integration.request.querystring.dataInicio: method.request.querystring.dataInicio
          integration.request.querystring.dataFim: method.request.querystring.dataFim
          integration.request.querystring.status: method.request.querystring.status
          integration.request.querystring.sortBy: method.request.querystring.sortBy
          integration.request.querystring.pageSize: method.request.querystring.pageSize
          integration.request.querystring.pageNumber: method.request.querystring.pageNumber
        responseParameters: # Mapeamento dos parâmetros de resposta
          method.response.header.Content-Type: integration.response.header.Content-Type
      x-amazon-apigateway-request-validator: all # Validador de solicitação
  /{codigo}:
    get:
      summary: Obtém um pedido de crédito pelo seu código e todos os eventos do pedido
      parameters:
        - name: codigo
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: O código do pedido
      responses:
        '200':
          description: O pedido e seus eventos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListaPedidoEventosDTO'
        '404':
          description: Pedido não encontrado
        '500':
          description: Erro interno do servidor
      # Propriedades adicionais para a integração personalizada HTTP
      x-amazon-apigateway-integration:
        type: http_proxy # Tipo de integração
        httpMethod: GET # Método HTTP do endpoint
        uri: http://exemple.com:443/pedidos/{codigo} # Endpoint HTTP
        connectionType: VPC_LINK # Tipo de conexão
        connectionId: abcdefgh # ID do link VPC
        passthroughBehavior: when_no_match # Comportamento de passagem dos dados
        requestParameters: # Mapeamento dos parâmetros de solicitação
          integration.request.path.codigo: method.request.path.codigo
        responseParameters: # Mapeamento dos parâmetros de resposta
          method.response.header.Content-Type: integration.response.header.Content-Type
      x-amazon-apigateway-request-validator: all # Validador de solicitação
    put:
      summary: Atualiza um pedido de crédito pelo seu código
      parameters:
        - name: codigo
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: O código do pedido
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PedidoCreditoDTO'
      responses:
        '200':
          description: Pedido atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PedidoCreditoDTO'
        '400':
          description: Pedido inválido
        '404':
          description: Pedido não encontrado
        '500':
          description: Erro interno do servidor
      # Propriedades adicionais para a integração personalizada HTTP
      x-amazon-apigateway-integration:
        type: http_proxy # Tipo de integração
        httpMethod: PUT # Método HTTP do endpoint
        uri: http://exemple.com:443/pedidos/{codigo} # Endpoint HTTP
        connectionType: VPC_LINK # Tipo de conexão
        connectionId: abcdefgh # ID do link VPC
        passthroughBehavior: when_no_match # Comportamento de passagem dos dados
        requestParameters: # Mapeamento dos parâmetros de solicitação
          integration.request.path.codigo: method.request.path.codigo
          integration.request.body: method.request.body
        responseParameters: # Mapeamento dos parâmetros de resposta
          method.response.header.Content-Type: integration.response.header.Content-Type
      x-amazon-apigateway-request-validator: all # Validador de solicitação
    delete:
      summary: Deleta um pedido de crédito pelo seu código
      parameters:
        - name: codigo
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: O código do pedido
      responses:
        '204':
          description: Pedido deletado com sucesso
        '404':
          description: Pedido não encontrado
        '500':
          description: Erro interno do servidor
      # Propriedades adicionais para a integração personalizada HTTP
      x-amazon-apigateway-integration:
        type: http_proxy # Tipo de integração
        httpMethod: PUT # Método HTTP do endpoint
        uri: http://exemple.com:443/pedidos/{codigo} # Endpoint HTTP
        connectionType: VPC_LINK # Tipo de conexão
        connectionId: abcdefgh # ID do link VPC
        passthroughBehavior: when_no_match # Comportamento de passagem dos dados
        requestParameters: # Mapeamento dos parâmetros de solicitação
          integration.request.path.codigo: method.request.path.codigo
          integration.request.body: method.request.body
        responseParameters: # Mapeamento dos parâmetros de resposta
          method.response.header.Content-Type: integration.response.header.Content-Type
      x-amazon-apigateway-request-validator: all # Validador de solicitação
  credito/v1/parametrizacoes:
    post:
      summary: Cria um novo objeto
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Objeto'
      responses:
        '201':
          description: Objeto criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Objeto'
        '400':
          description: Objeto inválido
        '500':
          description: Erro interno do servidor
      # Propriedades adicionais para a integração mocada
      x-amazon-apigateway-integration:
        type: mock # Tipo de integração
        requestTemplates: # Template de solicitação
          application/json: |
            {
              "statusCode": 200
            }
        responses: # Respostas de integração
          default:
            statusCode: 201
            responseTemplates: # Template de resposta
              application/json: |
                #set($inputRoot = $input.path('$'))
                {
                  "id": "$inputRoot.id",
                  "cod_iderf_vers_reg": "$inputRoot.cod_iderf_vers_reg",
                  "num_fun_col_cola": "$inputRoot.num_fun_col_cola",
                  "ind_vers_ptva": $inputRoot.ind_vers_ptva,
                  "txt_objt_estr_list_regr": $inputRoot.txt_objt_estr_list_regr,
                  "condicao": $inputRoot.condicao,
                  "ordem": $inputRoot.ordem,
                  "habilitado": $inputRoot.habilitado
                }
    get:
      summary: Obtém uma lista de objetos
      responses:
        '200':
          description: Uma lista de objetos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Objeto'
        '500':
          description: Erro interno do servidor
      # Propriedades adicionais para a integração mocada
      x-amazon-apigateway-integration:
        type: mock # Tipo de integração
        requestTemplates: # Template de solicitação
          application/json: |
            {
              "statusCode": 200
            }
        responses: # Respostas de integração
          default:
            statusCode: 200
            responseTemplates: # Template de resposta
              application/json: |
                [
                  {
                    "id": "173069367821",
                    "cod_iderf_vers_reg": "01/21/2020",
                    "num_fun_col_cola": "9999999999",
                    "ind_vers_ptva": true,
                    "txt_objt_estr_list_regr": [
                      {
                        "nome": "teste",
                        "id": "1730693694917",
                        "descricao": "",
                        "valor_regra": {
                          "jornada": "",
                          "assincrono": false,
                          "url": "https://example.com"
                        }
                      }
                    ],
                    "condicao": {
                      "id": "1703693184917",
                      "operador": "and",
                      "filhos": [
                        {
                          "id": "-1703693184918",
                          "propriedade": "path",
                          "valor": "",
                          "operador": "and",
                          "operacao": "="
                        }
                      ]
                    },
                    "ordem": 0,
                    "habilitado": true
                  }
                ] 
components:
  schemas: 
      type: object
      properties:
        id:
          type: string
        cod_iderf_vers_reg:
          type: string
          format: date
        num_fun_col_cola:
          type: string
        ind_vers_ptva:
          type: boolean
        txt_objt_estr_list_regr:
          type: array
          items:
            type: object
            properties:
              nome:
                type: string
              id:
                type: string
              descricao:
                type: string
              valor_regra:
                type: object
                properties:
                  jornada:
                    type: string
                  assincrono:
                    type: boolean
                  url:
                    type: string
                    format: uri
        condicao:
          type: object
          properties:
            id:
              type: string
            operador:
              type: string
            filhos:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  propriedade:
                    type: string
                  valor:
                    type: string
                  operador:
                    type: string
                  operacao:
                    type: string
        ordem:
          type: integer
        habilitado:
          type: boolean

    PedidoCreditoDTO:
      type: object
      properties:
        codigo_pedido_credito:
          type: string
          format: uuid
          description: O código do pedido
        codigo_cliente:
          type: string
          description: O código do cliente
        produto:
          type: string
          description: O nome do produto
        valor:
          type: number
          description: O valor do pedido
        data_pedido:
          type: string
          format: date-time
          description: A data do pedido
        status:
          type: string
          description: O status do pedido
    PedidoCreditoListDTO:
      type: object
      properties:
        codigo_pedido_credito:
          type: string
          format: uuid
          description: O código do pedido
        codigo_cliente:
          type: string
          description: O código do cliente
        produto:
          type: string
          description: O nome do produto
        valor:
          type: number
          description: O valor do pedido
        data_pedido:
          type: string
          format: date-time
          description: A data do pedido
    ListaPedidoEventosDTO:
      type: object
      properties:
        pedido:
          $ref: '#/components/schemas/PedidoCreditoDTO'
        eventos:
          type: array
          items:
            $ref: '#/components/schemas/PedidoEventoDTO'
    PedidoEventoDTO:
      type: object
      properties:
        codigo_pedido_evento:
          type: string
          format: uuid
          description: O código do evento
        codigo_pedido_credito:
          type: string
          format: uuid
          description: O código do pedido
        tipo:
          type: string
          description: O tipo do evento
        data:
          type: string
          format: date-time
          description: A data do evento
        descricao:
          type: string
          description: A descrição do evento
